[submodule "lib/leaflet-php"]
	path = lib/leaflet-php
	url = https://github.com/LuminFire/leaflet-php.git
[submodule "lib/wp-geometa-lib"]
	path = lib/wp-geometa-lib
	url = https://github.com/BrilliantPlugins/wp-geometa-lib.git
