.geocoding_setting .gfield_rule_select {
	width: 250px;
}

.geocoding_setting .gfield_rule_select option:first-child {
	font-style: italic;
}

textarea.geocoderesults {
	width: 100%;
	min-height: 80px;
}

.mapdisplay.hidden,
.geojsondisplay.hidden,
.latlngdisplay.hidden {
	display: none;
}
